<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="net.logandhillon.controllerlink.core.Main" />
    <module name="ControllerLink.main" />
    <option name="PROGRAM_PARAMETERS" value="--server" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="net.logandhillon.controllerlink.core.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>